<!DOCTYPE html>
<html lang="es">
<head>
    <title>Informar avistamiento</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/informar.css') }}">
</head>
<body>
    <div class="main-container">
        {% if errores %}
        <div id="val-box">
            <h2 id="val-msg">Los siguientes campos son inválidos:</h2>
            <ul id="val-list">
                {% for error in errores %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% else %}
        <div id="val-box" hidden>
            <h2 id="val-msg"></h2>
            <ul id="val-list"></ul>
        </div>
        {% endif %}
        <form name="myForm" method="post" enctype="multipart/form-data">
            <label for="voluntario">Voluntario</label>
            <select name="voluntario" id="voluntario" required>
                <option value="">Seleccione un voluntario</option>
                {% for voluntario in voluntarios %}
                    <option value="{{ voluntario.id }}">
                        {{ voluntario.nombre }}
                    </option>
                {% endfor %}
            </select><br>

            <label for="nombre">Nombre del ave</label>
            <select name="nombre" id="nombre" required>
                <option value="">Seleccione un ave</option>
                {% for ave in aves %}
                    <option value="{{ ave.id }}">
                        {{ ave.nombre }}
                    </option>
                {% endfor %}
            </select><br>

            <label for="lugar">Lugar</label>
            <input type="text" name="lugar" id="lugar" minlength="8" required><br>

            <label for="fecha">Fecha y hora</label>
            <input type="datetime-local" name="fecha" id="fecha" required><br>

            <label for="files">Foto o video</label>
            <input type="file" name="files" id="files" accept="image/*, video/*" multiple required><br>

            <button id="submit-btn" type="button">Informar</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/validation_informar.js') }}"></script> 
</body>
</html>