<!DOCTYPE html>
<html lang="es">
<head>
    <title>Registro de avistamientos de aves en Chile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/inicio.css') }}">
</head>
<body>
    <div class="container">
        <h1 id="titulo">Registro de avistamientos de aves en Chile</h1>
        
        <div class="botones">
            <a href="{{ url_for('registro') }}">
                <button type="button">Registro de voluntario</button>
            </a>
            
            <a href="{{ url_for('informar') }}">
                <button type="button">Informar avistamiento</button>
            </a>

            <a href="{{ url_for('listado') }}">
                <button type="button">Listado de avistamientos</button>
            </a>

            <a href="{{ url_for('estadisticas') }}">
                <button type="button">Estadísticas</button>
            </a>
        </div>

        <h2 id="titulo">Últimos avistamientos</h2>
        
        <div class="avistamientos">
            {% for avistamiento in avistamientos %}
            <article class="avistamiento">
                <h3 id="title">{{ avistamiento.ave }}</h3>

                <p>
                    <strong>Lugar:</strong>
                    {{ avistamiento.lugar }}
                </p>

                <p>
                    <strong>Fecha:</strong>
                    {{ avistamiento.fecha_hora.strftime("%d/%m/%Y %H:%M") }}
                </p>

                <a href="{{ url_for('detalle_avistamiento', avistamiento_id=avistamiento.id) }}">
                    Ver detalle
                </a>

            </article>

            {% endfor %}

        </div>
    </div>
</body>
</html>