<!DOCTYPE html>
<html lang="es">
<head> 
    <title>Listado de avistamientos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/listado.css') }}">
</head>
<body>
    <div class="main-container">
        <h1>Listado de avistamientos</h1>

        <div class="filtros">
            <label for="orden">Ordenar por</label>
            <select name="orden" id="orden">
                <option value="fecha">Fecha de avistamiento</option>
                <option value="lugar">Lugar</option>
            </select>
        </div>

        <div class="avistamientos">
            {% for avistamiento in avistamientos %}
            <article class="avistamiento">
                <h2>{{ avistamiento.ave}}</h2>
                
                <p>
                    <strong>Voluntario:</strong>
                    {{ avistamiento.voluntario }}
                </p>

                <p>
                    <strong>Lugar:</strong>
                    {{ avistamiento.lugar }}
                </p>
                
                <p>
                    <strong>Fecha:</strong>
                    {{ avistamiento.fecha_hora.strftime("%d/%m/%Y %H:%M") }}
                </p>

                <a href="{{ url_for('detalle_avistamiento', avistamiento_id=avistamiento.id) }}">
                    Ver Detalle
                </a>

            </article>
            {% endfor %}
        </div>

        <div class="paginación">
            {% if pagina > 1%}
                <a href="{{ url_for('listado', pagina=pagina-1) }}">
                    <button type="button">Anterior</button>
                </a>
            {% endif %}

            <span>Página {{ pagina }}</span>

            {% if hay_siguiente %}
                <a href="{{ url_for('listado', pagina=pagina+1) }}">
                    <button type="button">Siguiente</button>
                </a>
            {% endif %}
        </div>
        
        <a href="{{ url_for('inicio') }}">
            <button type="button">Volver</button>
        </a>
        
    </div>
    <script src="{{ url_for('static', filename='js/listado.js') }}"></script>
</body>
</html>